.search{
    border-radius: 20px;
    border-width: 0.8px;
    border-style: solid;
    box-shadow: 0px,0.5px,0.2px,0.5px,rgba(254, 254, 254, 0.2);
    width: 200px;
    height: 30px;
    padding-left: 6px;
    cursor: text;
}


.search:focus{
    outline: 1px solid #c9b0b0;
    border-color: rgba(254, 254, 254, 0.2);
    box-shadow: none;
}

.search:focus::placeholder{
    color:transparent;
}   